.background {
    position: absolute;
    width: 100vw;
    z-index: 20;
    transform: translate3d(0, 0, 0);
    left: 0;
    top: 0;
}

.flat-background {
    animation: 2s ease-out liquidAnim;
    height: 55vh;
    background-color: #bb1111;
}

@keyframes liquidAnim {
    0% {
        height: 0;
    }
    20% {
        height: 0;
    }
    100% {
        height: 55vh;
    }
}

@keyframes liquidAnimWave {
    0% {
        height: 0;
    }
    100% {
        height: 200px;
    }
}

.wave-background {
    width: 100%;
    height: 200px;
    margin-top: -5px;
    animation: 2s ease-out liquidAnimWave;
}